.cta__default {
  padding: 10px 17px;
  background-color: #fff;
  border: 3px solid #0038ff;
  border-radius: 50px;
  font-size: 1.2em;
  font-weight: 600;
  color: #0038ff;
  text-decoration: none;
  display: inline-block;
  &:hover {
    color: #fff;
    background-color: #0038ff;
  }
}
