    </div> {{!-- .content --}}
    
    <footer class="footer">
        <div class="footer__row footer__row__1 footer__nav">
            <a href="/#about-home">About</a>
            <a href="/#pricing-home">Pricing</a>
            <a href="/contact">Contact</a>
            <br />
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-of-service">Terms</a>
        </div>
    </footer>

</body>
</html>