<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes">
        <meta property="og:url" content="https://qhhtcamacho.com/"/>
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />
        {{!-- <meta property="og:image:width" content="1920" />
        <meta property="og:image:height" content="1080" /> --}}
        <meta property="og:description" content="QHHT in San Diego.">
        <title>#QHHTCamacho | QHHT San Diego</title>
        {{!-- <link rel="icon" href="/img/.png"> --}}
        {{!-- <link rel="shortcut icon" href="favicon.png" /> --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="/styles.min.css">
        {{!-- <script src="/main.fb6bbcaf.js"></script> --}}
    </head>

<body class="{{ page }}">

<div id="modal">
    <div class="modal-content">
        {{> mailinglist }}
        {{!-- <div class="header">s
            <h2>Modal Header</h2>
        </div> --}}
        <div class="copy">
            <p>Modal Body</p>
            <a href="#">Close Link</a> 
        </div>
    </div>
    <div class="overlay"></div>
</div>

<header class="header">
    <div class="header__wrapper">
        <h1>
            <a class="header__home-link" href="/">
                <span class="header__home-link__top">Anthony Camacho</span>
                <span class="header__home-link__bottom">QHHT Certified</span>
            </a>
        </h1>
        <div class="header__nav-schedule">
            <div class="header__nav">
                <a href="/#about-home">About</a>
                <a href="/#pricing-home">Pricing</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="header__schedule">
                {{!-- <a href="">Schedule</a> --}}
                <!-- Calendly link widget begin -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                <a class="cta__default" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/anthony-g-camacho/qhht-session'});return false;">Schedule Session</a>
                <!-- Calendly link widget end -->
            </div>
        </div>
    </div>
</header>

{{!-- <div class="banner">
    <div class="banner__wrapper banner__{{page}}"><div class="banner__wrapper__overlay"></div></div>
</div> --}}

<div class="content">
