{{> header }}

<section class="contact-form" id="contact-form">
    <h2 class="h2__default">Contact</h2>
    <p class="contact-form__description">Any questions regarding the QHHT sessions, schedule a 1hr phone call. I will text before calling.</p>
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <a class="cta__default contact-form__schedule-call" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/anthony-g-camacho/qhht-phone-q-a-w-anthony-camacho'});return false;">Schedule Q&amp;A Call</a>
    <!-- Calendly link widget end -->
</section>

{{> footer }}