{{> header }}

<section class="about-home" id="about-home">
    <div class="about-home__wrapper">
        <div class="about-home__bio-img">
            <img src="imgs/bio.svg" />
        </div>
        <div class="about-home__bio">
            <p>Hi, my name is Tony (QHHT Certified).</p>
            <p>Thank ou for stopping by to learn more about my services in QHHT. Please, navigate my site to more about myself and QHHT, then schedule your next session.</p>
        </div>
    </div>
</section>

<section class="pricing-home" id="pricing-home">
    <h2>Pricing</h2>
    <p>FREE</p>
    <p>I’m currently working towards becomming a QHHT Practioner Level 1. In order for me reach this goal I have to do 25 free sessions. Pricing may change afterwords, so please take advantage.</p>
    <a href="">Schedule Now</a>
    <p>Weekends Only</p>
</section>

<section class="qhht-home" id="qhht-home">
    <h3>QHHT</h3>
    <div class="qhht-home__wrapper">
        <div class="qhht-home__description">
            <p>Quantum Healing Hypnosis Technique is a deep trance hypnosis where physical and spiritual healing can take place.</p>
            <p>What you can expect:</p>
            <ul>
                <li>Connect with your Higher-Self</li>
                <li>Past Life Regression</li>
                <li>Spiritual and Physical Healing</li>
                <li>Learn about your Purpose</li>
                <li>And much more</li>
            </ul>
        </div>
        <div class="qhht-home__description-img">
            <img src="imgs/qhht3.svg" />
        </div>
    </div>
</section>

{{> footer }}