{{> header }}

<section class="about-home" id="about-home">
    <div class="about-home__wrapper">
        <div class="about-home__bio-img">
            <img src="imgs/bio.svg" />
        </div>
        <div class="about-home__bio">
            <p>Hi, my name is Tony (QHHT Certified).</p>
            <p>Thank you for stopping by to learn more about my services in QHHT. Keep scrolling down to learn about Pricing and QHHT, then schedule your next session.</p>
        </div>
    </div>
</section>

<a href="#modal">
  Launch A Modal
</a>

<section class="pricing-home" id="pricing-home">
    <h2 class="h2__default">Pricing</h2>
    <p class="pricing-home__cost">FREE</p>
    <p class="pricing-home__description">I’m currently working towards a QHHT Practioner Level 1. In order to reach that goal, I have to do 25 free sessions. Pricing may change afterwords, so please take advantage.</p>
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
    <a class="cta__default pricing-home__schedule-now" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/anthony-g-camacho/qhht-session'});return false;">Schedule Session Now</a>
    <!-- Calendly link widget end -->
    <p class="pricing-home__weekends-only">Weekends Only</p>
</section>

<section class="qhht-home" id="qhht-home">
    <h2 class="h2__default">QHHT</h2>
    <div class="qhht-home__wrapper">
        <div class="qhht-home__description">
            <p>Quantum Healing Hypnosis Technique is a deep trance hypnosis where physical and spiritual healing can take place.</p>
            <p>What you can expect:</p>
            <ul>
                <li>Connect with your Higher-Self</li>
                <li>Past Life Regression</li>
                <li>Spiritual and Physical Healing</li>
                <li>Learn about your Purpose</li>
                <li>And much more</li>
            </ul>
        </div>
        <div class="qhht-home__description-img">
            <img class="img-responsive" src="imgs/qhht3.svg" />
        </div>
    </div>
</section>

{{> footer }}