.home {
  .about-home {
    padding: 90px 20px;
    text-align: center;
    &__wrapper {
      max-width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &__bio-img {
    }
    &__bio {
      width: 340px;
      text-align: left;
      p {
        margin-bottom: 15px;
        line-height: 22px;
        letter-spacing: 0.5px;
      }
    }
  }

  .pricing-home {
    padding: 60px 20px 50px 20px;
    background-color: #f5f5f5;
    text-align: center;
    h2 {
      margin-bottom: 25px;
    }
    &__cost {
      font-size: 1.3em;
    }
    &__description {
      max-width: 500px;
      margin: 0px auto 30px auto;
    }
    &__schedule-now {
      margin-bottom: 5px;
    }
    &__weekends-only {
      font-size: 14px;
    }
  }

  .qhht-home {
    padding: 60px 20px 50px 20px;
    text-align: center;
    h2 {
      margin-bottom: 25px;
    }
    &__wrapper {
      max-width: 700px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__description {
      max-width: 380px;
      text-align: left;
    }
    &__description-img {
      max-width: 270px;
    }
  }
}
